* {
    font-family: 'Montserrat';
}

body {
    color: white;
    background-color: rgba(19,22,29,255);
    text-align: center;
}

.colorgreen {
    color: #1ad851;
}
.light {
    font-weight: 300;
}
h1 {
    font-weight: 800;
    font-size: 40px;
}

p{
    font-size: 15.28px;
    font-weight: 400;
}

.header {
    margin-top: 100px;
    background-image: url('./bahan/web\ aff-07.png');
    background-size: cover;
}

.device {
    width: 90%;
}

.content {
    text-align: left;
}

.loginbutton {
    text-align: center;
    margin: 10px;
    padding: 0 ;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.loginbutton a{
    color: white;
    display: block;
}

.loginbutton a:hover {
    text-decoration: none;
}

.videoinfo {
    margin-left: 50px;
    text-align: left;
}

.video {
    padding: 100px 0;
}

.trabar {
    padding-bottom: 50px;
}

.trabar img{
    width: 100%;
}

.telegram {
    width: 50%;
    margin: auto;
    padding: 0 2%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

.telegram a{
    color: white;
    display: block;
}
.telegram a:hover {
    text-decoration: none;
}
.contact {
    height: 435px;
    padding-top: 50px;
    background-image: url('./bahan/web\ aff-10.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact h1, .contact p, .contact div {
    margin-left: 150px;
}
.contactus {
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 5px;
}
.contactus a{
    color: white;
    padding: 0 10px;
    display: block;
}
.contactus a:hover{
    text-decoration: none;
}
.footer {
    height: 50px;
}
.footer p{
    margin-bottom: 0;
    line-height: 50px;
    margin-left: 5%;
    text-align: left;
    float: left;
}
.footer img {
    margin: 15px;
    height: 20px;
    float: right;
}
.jiwacuan {
    margin-right: 30px !important;
}
.button:hover {
    opacity: 0.8;
}
.button:active {
    border: 1px solid yellow;
}
.button a:active {
    color: yellow;
    text-decoration: none;
}
@media (max-width: 991.5px) {
    h1, p, .videoinfo {
        text-align: center !important;
        margin-left: 0 !important;
    }
    .logo{
        display: block !important;
        text-align: center !important;
    }
    .contactus{
        display: block !important;
        text-align: center !important;
        margin: 0 20% !important ;
    }
    .footertext {
        margin-left: 5% !important;
    }
    .container {
        width: inherit;
    }
}
